/* positoin classes */

.p-fixed {
  position: fixed;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.p-sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

/* Flex-Box Classes */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

/* Text Classes */
.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-ellipsis {
  text-overflow: ellipsis;
}

.t-upper {
  text-transform: uppercase;
}

.t-lower {
  text-transform: lowercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.t-ident {
  text-indent: 50px;
}

.t-ident {
  text-indent: 100px;
}

.l-spacing {
  letter-spacing: 2px;
}

.l-spacing {
  letter-spacing: 3px;
}

.l-spacing {
  letter-spacing: 4px;
}

.l-spacing {
  letter-spacing: 5px;
}

.l-height {
  line-height: 1.5;
}

.l-height {
  line-height: 1.6;
}

.l-height {
  line-height: 1.8;
}

.l-height {
  line-height: 2;
}

.t-main-color {
  color: #03A9F4;
}

.t-second-color {
  color: #F6F6F6;
}

/* Font Classes */
.fs-xxs {
  font-size: xx-small;
} 

.fs-xs {
  font-size: x-small;
} 

.fs-s {
  font-size: small;
} 

.fs-m {
  font-size: medium;
} 

.fs-l {
  font-size: large;
} 

.fs-xl {
  font-size: x-large;
} 

.fs-xxl {
  font-size: xx-large;
} 

.fs-smaller {
  font-size: smaller;
} 

.fs-larger {
  font-size: larger;
} 

.fs-10 {
  font-size: 10px;
} 

.fs-15 {
  font-size: 15px;
} 

.fs-20 {
  font-size: 20px;
} 

.fs-24 {
  font-size: 24px;
} 
.fs-32 {
  font-size: 32px;
} 

.fs-50p {
  font-size: 50%;
} 

.fs-150p {
  font-size: 150%;
} 

.fsty-normal {
  font-style: normal;
}

.fsty-italic {
  font-style: italic;
}

.fsty-oblique {
  font-style: oblique;
}

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-lighter {
  font-weight: lighter;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}
